

.app-header {

        font-family: "Apple Chancery", cursive;
        font-size: 300%
}
/* sets the font and size for the title */

.college-names-dd {

        padding-top: 1em;
        padding-bottom: 1em;

}

.majors-dd {

        padding-top: 1em;
        padding-bottom: 1em;

}
.scholarship-input{

        padding-top: 1em;
        padding-bottom: 1em;

}

.loan-amount-input {

        padding-top: 1em;
        padding-bottom: 1em;

}

.interest-input {

        padding-top: 1em;
        padding-bottom: 1em;

}

.loan-term-input{
        padding-top: 1em;
        padding-bottom: 2em;
}

/* sets the padding around all the app components */

.submit-button {
        border-bottom: thin lightgrey solid;
        text-align: center; 
        padding-bottom: 1em; 
} 

/* sets the padding for the submit button, centers it, and creates thin grey line underneath */


